@import url(style.css); 

.blog-section{
    display: flex;
    flex-direction: row;
    padding: 20px 50px 20px 50px; 
    background-color: #fff;
}

.blog-section-left{
    display: flex;
    flex-direction: row;
    flex-basis: 80%;
    flex-wrap: wrap;
}

.blog-post-display{
    flex-basis: 320px;
    padding: 20px;
}

.blog-read-more{
    padding: 2px 10px;
    margin: 0px;
    border: 0px;
    border-radius: 20px;
    background-color: antiquewhite;
    font-size: small;
    text-transform: capitalize;
}

.blog-read-more:hover{
    background-color: #e48b2c;
    color: #fff;
}

.blog-title{
    color:#e48b2c;
}

.blog-section-right{
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    border-left: 2px solid #e48b2c; 
    padding-left: 30px;
    padding-top: 50px;
    margin-left: 20px;
}

.blogs-navigation{
    display: flex;
    flex-direction: column;
}

.blogs-navigation >a{
    text-decoration: none;
    color: #e48b2c;
}

.blogs-navigation >a:hover{
    text-decoration: none;
    color: #000;
}

.most-read-blog{
    margin-top: 50px;
    padding: 20px;
    background-color: #e48b2c;
    border: 0px;
    border-radius: 30px;
}

.most-read-blog > h3{
    color: #fff;
}

.most-read-blog > p{
    color: #fff;
    font-size: small;
}

.spacing{
    margin: 70px !important;
}

.color-orange{
    color: #e48b2c;


    /* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
}
