/*
    Index Mobile Style
*/

@media only screen and (max-width: 992px){

    .nav{
        width: 100%;
        padding: 20px 0 20px 0;
        /*background-color: #20201e;*/
        background-color: #c9a074;
        position: fixed;
    }
    
    .nav-items{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 60px 0 60px;
        color: #fff;
    }
    
    .nav-links{
        font-weight: bold;
    }
    
    .nav-links > a{
        text-decoration: none;
        color: #fff;
        padding-right: 10px;
    }
    
    .nav-links > a:hover{
        text-decoration: none;
        color: #73624f;
    }
    
    .logo{
        font-size: x-large;
        font-weight: 900;
    }
    
    .bt-login{
        background-color: #ac865d;
        color: white;
        border: 0px;
        border-radius: 5px;
        padding: 5px 15px 5px 15px;
        font-weight: bold;
    }
    
    .bt-login:hover{
        background-color: #fff;
        cursor: pointer;
        font-weight: bold;
        color: #73624f
    }

    .bars-menu{
        display:block !important;
        font-weight: 900;
        font-size: large;
        user-select: none;
        text-decoration: none !important;
    }

  input[type=checkbox]:checked ~ .nav-items > #nav-links-mobile{
    display: none !important;
    display: block !important;
    flex-direction: column !important;
   }  


/*

1. Navigation Section..............................

*/

.nav{
    width: 100%;
    padding: 20px 0 20px 0;
    /*background-color: #20201e;*/
    background-color: #c9a074;
    position: fixed;
}


.logo{
    font-size: x-large;
    font-weight: 900;
}

.bt-login{
    background-color: #ac865d;
    color: white;
    border: 0px;
    border-radius: 5px;
    font-weight: bold;
    font-size: large;
    padding: 5px 14px;
}

.bt-login:hover{
    
    background-color: #fff;
    color: #ac865d;
    border: 0px;
    border-radius: 5px;
    font-weight: bold;
    font-size: large;
    padding: 5px 14px;
}

.bars-menu{
    display: none;
    font-weight: 900;
    font-size: large;
}

input[type=checkbox]{
    display: nonef;
   }


/*

3. Header Section..............................

*/

.header-container{
    display: flex;
    flex-direction: column;
    background-color: #e5c39e;
}

.spacing{
    margin: 0px;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 60px 30px 60px;
}

.header-info-section > h3 > br {
    display: none;
}

.header-info-section > p > br {
    display: none;
}

.header-image-section{
 align-self: center;

}


.header-info-section >h1{
    color: #73624f;
    font-weight: 900;
    font-size: x-large;
 
}
.header-info-section >p{
    color: #fff;
    padding: 10px 0 10px 0;
    font-weight: 400;
}

.header-info-section >h3{
    color: #fff;
    font-weight: 900;
    font-size: x-large;
}



.bt-order{
    background-color: #e48b2c;
    color: #fff;
    padding: 10px 20px;
    border: 0px;
    border-radius: 20px;
}

.bt-order:hover{
    background-color:  #73624f;
    cursor: pointer;
}

.bt-explore{
    background-color: transparent;
    color: #fff;
    padding: 10px 20px;
    margin-left: 10px;
    border: 1px solid #fff;
    border-radius: 20px;
}

.bt-explore:hover{
    background-color: #fff;
    cursor: pointer;
    color: #73624f;
}

.header-buttons1{ 
    display: none;
    padding-top: 30px;
} 

.header-buttons2{ 
    display: flex;
    justify-content: center;
    padding-top: 30px;
} 

.text-underline{
    text-decoration: underline;
    text-decoration-color: #fff;
}

/*

4. More Section..............................

*/

.more-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 10px 0px 10px ;
    width: 100%;
}

.more-section2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 10px 0px 10px ;
    width: 100%;
}

.new-burger-info{
    width: 90%;
    padding: 20px;
    margin-top: 20px;
}

.new-burger-info > p{
    padding-bottom: 20px;
    font-size: small;
}

.new-burger-info > a > .bt-order{
    background-color:#e48b2c;
    cursor: pointer;
}

.new-burger-info > a > .bt-order:hover{
    background-color:#73624f;
    cursor: pointer;
}
 

.new-burger-special{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
}


.new-burger-special > img{
    width: 300px;
}

.burger-price{
    font-size: larger;
    font-weight: 900;
    color: #73624f;
}

.burger-name{
    font-size: x-large;
    font-weight: 900;
    padding: 20px 0px 5px 0px;
}

.burger-includes{
    font-size: small;
    color: #e48b2c;
}

.special{
    color: #990000;
    font-size: small;
}

.btn-order{
    border: 0px;
    background-color: #990000;
    color: #fff;
    border-radius: 20px;
    padding: 3px 10px;
    margin: 0px 2px;
    font-size: x-small;
}

.btn-order:hover{
    background-color: #e48b2c;
    color: #fff;
}


.new-burger-special:hover{
    background-color: #fdead6 !important;
    border-radius: 30px;
}

/*

5. Chilli Section..............................

*/

.chilli-section{
    background-image: url("../images/burger-2.png");
    background-color: #73624f;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.chilli-info{
    display: flex;
    flex-direction: column;
    padding: 50px 0px 20px 100px;
    width: 400px;
    min-height: 440px;
}

.chilli-info > h2{
    color: #fff;
    padding-bottom: 20px;
    color: #e48b2c;
    font-size: xx-large;
}

.chilli-info > p{
    color: #fff;
}

.chilli-info >.para-2{
    color:#e48b2c;
}

.bt-chilli{
    background-color: transparent;
    color: #fff;
    margin: 15px 0px 10px 0px;
    padding: 10px 20px;
    border: 1px solid #fff;
    border-radius: 20px;
    width: fit-content;
}

.bt-chilli:hover{
    background-color: #fff;
    cursor: pointer;
    color: #73624f;
}

/*

6. Download Section..............................

*/

.download-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px 30px 30px 0px;
}

.download-section > h3{
    padding: 0px;
    margin: 0px;
    color: #e48b2c;
    text-transform: capitalize;
}

.img-download{
    width: 100px;
}


/*
7. Footer Section..............................

*/

.logo{
    font-size: large;
    font-weight: 900;
}

footer{
    border-top: 0.5px solid #e5c39e;
    padding-top: 30px;
    /*background-color: #c9a074;*/
    background-color: #c9a074;
}

.footer-items{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-item{
    display: flex;
    flex-direction: column;
}

.footer-item > a{
    text-decoration: none;
    color: #fff;
}

.footer-item > h4{
    color: #fff;
    font-weight: bolder;
}

.footer-item > a:hover{
    color: #000;
    cursor: pointer;
}

.footer-info{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

.footer-info > a{
    padding: 10px;
    text-decoration: none;
    color: #fff;
}

.footer-info > a:hover{
    color: #000;
    cursor: pointer;
}


}

